* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", san-serif;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.no-wrap {
  white-space: nowrap;
}

p {
  line-height: 1.5em;
}

.banner {
  width: 100%;
  background-color: rgb(233, 233, 233);
  border-bottom: 2px solid #000000;
  height: 10svh;
  position: fixed;
  top: 0;
  z-index: 100;
}

.banner .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  text-align: center;
  margin-left: 10px;
  color: #3f3f3f;
}

.nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10svh;
  width: 100%;
  background-color: rgba(63, 63, 63, 0.692);
  backdrop-filter: blur(10px);
  align-items: center;
  right: -100%;
  opacity: 0;
  transition: all 0.5s ease;
}

.nav-links.active {
  right: 0;
  opacity: 1;
}

.nav-links a {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  -webkit-tap-highlight-color: transparent;
}

.nav-links a:active {
  background-color: rgb(94, 94, 94);
  color: #969696;
  
}

.hamburger {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
}

.hamburger:active {
  background-color: #969696;
}

.hamburger .bar {
  background-color: #3f3f3f;
  width: 80%;
  height: 4px;
  border-radius: 10px;
}

/* MAIN CONTENT STYLING */
main {
  margin-top: 10svh;
  background-color: white;
  flex-grow: 1;
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* Hero Section */
.hero {
  width: 100%;
  background-color: #252525;
}

.hero .hero-text {
  text-align: center;
  color: rgb(233, 233, 233);
  padding: 40px 50px;
}

.hero .hero-text h1 {
  margin-bottom: 50px;
  font-weight: lighter;
}

.hero .hero-text a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: larger;
  font-weight: bold;
  background-color: rgb(243, 243, 243);
  padding: 10px 25px;
  -webkit-tap-highlight-color: transparent;
}

.hero .hero-text a:active {
  background-color: #969696;
  color: rgb(37, 37, 37);
}

.hero-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  padding-bottom: 10px;
}

.hero-images img {
  border-radius: 5px;
}

.hero-images img:nth-child(1) {
  grid-row: span 2;
}


.services {
  width: 100%;
  background-color: white;
}

.services .services-header-text {
  text-align: center;
  padding: 10px 30px;
  color: #252525;
}

.services .services-header-text h2 {
  margin-bottom: 20px;
}

.services .services-header-text p {
  position: relative;
}

.services .services-header-text p::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 25px;
  border-top: 2px solid #252525;
  border-left: 2px solid #252525;
  top: -5px;
  left: -5px;
}

.services .services-header-text p::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 25px;
  border-bottom: 2px solid #252525;
  border-right: 2px solid #252525;
  bottom: -5px;
  right: -5px;
}

.services .service-card-text {
  text-align: center;
  padding: 20px 30px;
  background-color: rgb(252, 252, 252);
  position: relative;
  color: #252525;
}

.service-card-text::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 25px;
  border-top: 2px solid #252525;
  border-left: 2px solid #252525;
  top: 5px;
  left: 5px;
}

.service-card-text::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 25px;
  border-bottom: 2px solid #252525;
  border-right: 2px solid #252525;
  bottom: 5px;
  right: 5px;
}

.services .service-card-text h3 {
  margin-bottom: 30px;
}

.services .service-card-text p {
  margin-bottom: 45px;
}

.services .service-card-text .action-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.service-card-text .action-buttons a {
  text-decoration: none;
  color: rgb(233, 233, 233);
  font-size: larger;
  font-weight: bold;
  background-color: rgb(37, 37, 37);
  padding: 10px 25px;
  -webkit-tap-highlight-color: transparent;
  width: 200px;
}

.service-card-text .action-buttons a:nth-child(2) {
  color: #252525;
  border: 2px solid #252525;
  background-color: transparent;
}

.service-card-text .action-buttons a:nth-child(1):active {
  background-color: rgb(46, 46, 46);
}

.service-card-text .action-buttons a:nth-child(2):active {
  background-color: #c2c2c2;
}

.specializations {
  width: 100%;
  background-image: url(./assets/images/tile-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px 0;
}

.specializations .container {
  backdrop-filter: blur(3px);
  justify-items: center;
  color: rgb(224, 224, 224);
  text-align: center;
  padding: 15px 0;
}

.specializations h2 {
  font-weight: lighter;
  margin-bottom: 40px;
}

.specializations .icon {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.specializations .specialization-card {
  justify-items: center;
  padding: 20px 0;
}

.specialization-card .icon,.specialization-card h3 {
  margin-bottom: 15px;
}

.specializations .icon img {
  border-radius: 50%;
}

.promises {
  width: 100%;
}

.promises .container {
  background-color: white;
  color: #252525;
}

.promises .text {
  padding: 20px 10px;
}

.promises .text h2 {
  width: 50%;
}

.promises li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.promises li img {
  width: 30px;
  margin-right: 10px;
}

.promises ul {
  margin-bottom: 20px;
}

.promises .text a {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  padding: 10px 25px;
  -webkit-tap-highlight-color: transparent;
  width: 200px;
  color: #252525;
  border: 2px solid #252525;
  background-color: transparent;
}

.promises .text a:active {
  background-color: #e4e4e4;
}

.contact-form {
  background-color: #252525;
  color: white;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.contact-form h2 {
  text-align: center;
  padding: 20px 0;
}

.contact-form form {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 20px 5px;
  font-size: 1.25rem;
  font-family: 'Arial';
  border-radius: 5px;
}

.contact-form input {
  height: 2rem;
}

.contact-form button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 1.20rem;
  background-color: white;
  width: fit-content;
  align-self: center;
}

/* FOOTER STYLING */
footer {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(233, 233, 233);
  border-top: 2px solid rgba(122, 122, 122, 0.473);
}

footer .container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

footer figure {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;

}

footer figure img {
  object-fit: contain;
}

footer figcaption {
  text-align: center;
}

footer .footer-card {
  display: flex;
  flex-direction: column;
}

footer .footer-card a {
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

footer .footer-card h4 {
  margin-bottom: 20px;
  color: #252525;
}

footer .social-links {
  display: flex;
  align-self: center;
}

footer .social-links a img{
  height: 80%;
}

/* About Section */

.about-hero {
  width: 100%;
}

.about-hero .about-head {
  text-align: center;
  color: #252525;
  padding: 15px 0 25px 0;
  position: relative;
  background-color: white;
}

.about-hero .about-head::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 25px;
  border-top: 2px solid #252525;
  border-left: 2px solid #252525;
  top: 5px;
  left: 5px;
}

.about-hero .about-head::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 25px;
  border-bottom: 2px solid #252525;
  border-right: 2px solid #252525;
  bottom: 5px;
  right: 5px;
}

.about-hero .about-head h2 {
  margin-bottom: 20px;
}

.about-hero .about-text {
  background-color: rgb(252, 252, 252);
  padding: 20px 10px;
  color: #252525;
}

.about-hero .about-text h3 {
  margin-bottom: 10px;
  font-size: larger;
}

.motto {
  background-color: #252525;
  width: 100%;
}

.motto .container {
  padding: 30px 5px;
  color: rgb(231, 231, 231);
  text-align: center;
}

.motto h2 {
  margin-bottom: 30px;
}

.motto p {
  font-weight: lighter;
}

.motto .quote {
  margin: 10px 0 0 0;
  font-style: italic;
  font-weight: bolder;
}

.faqs {
  width: 100%;
  background-color: white;
}

.faqs .container {
  padding: 25px 0;
}

.faqs .q-button {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.faqs .questions {
  margin: 40px 0 10px 0;
}

.faqs .question {
  border-bottom: 2px solid #252525;
  cursor: pointer;
}

.faqs .button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.faqs .button .bar {
  background-color: #252525;
  width: 100%;
  height: 5px;
}

.faqs .button .v-bar {
  transform: rotate(90deg);
  position: absolute;
}

.faqs .q-answer {
  display: none;
  transform: scaleY(0%);
  padding: 5px;
}

.faqs .q-answer.display {
  display: block;
  transform: scaleY(100%);
}

.faqs .button .v-bar.display {
  display: none;
}

/* MOBILE LANDSCAPE */
@media only screen and (max-height: 500px) and (min-aspect-ratio: 7/4) {
  main {
    margin-top: 15svh;
    background-color: rgb(233, 233, 233);
  }

  .container {
    width: 98%;
  }

  .banner {
    height: 15svh;
  }

  .nav-links {
    top: 15svh;
  }

  .hero {
    padding: 10px 0;
  }

  .hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero .hero-text {
    text-align: start;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero .hero-images {
    padding-bottom: 0;
  }

  .hero-images img {
    border: 2px solid rgb(233, 233, 233);
  }

  .services {
    padding: 10px 0;
  }

  .services .service-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .services .service-card:nth-child(3) figure {
    order: 2;
  }

  .services .service-card:nth-child(3) .service-card-text {
    order: 1;
  }

  .service-card figure img {
    object-fit: cover;
  }

  .services .service-card-text {
    padding-left: 10px;
    text-align: start;
  }

  .services .service-card-text .action-buttons {
    flex-direction: row;
  }

  .service-card-text .action-buttons a {
    text-align: center;
    font-size: small;
    width: 150px;
  }

  .services .service-card-text h3 {
    margin-bottom: 10px;
  }

  .services .service-card-text p {
    margin-bottom: 20px;
    font-size: small;
  }

  .specializations .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 70%;
  }

  .specializations .container h2 {
    grid-column: span 3;
    justify-self: center;
  }

  .specializations .specialization-card {
    grid-row-start: 2;
  }

  .promises .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* MOBILE ABOUT PAGE */
  .about-hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .about-hero .about-head {
    grid-column: span 2;
  }

  .about-hero .about-text {
    padding: 20px;
  }

  .about-hero figure img {
    object-fit: cover;
  }

  .faqs .container {
    width: 80%;
  }

  .contact-form form {
    width: 80%;
    margin: 0 auto;
  }

  footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: start;
  }

  footer figure {
    width: 100%;
    height: 50%;
    align-self: baseline;
  }

  footer .footer-card p, .footer-card a {
    font-size: .8rem;
  }

  footer .social-links a img{
    height: 80%;
    padding: 5px;
  }
}

/* TABLETS */
@media only screen and (min-width: 768px) {
  /* TODO */

  .container {
    width: 90svw;
  }

  .banner .container {
    width: 90svw;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    right: 0;
    z-index: 100;
    opacity: 1;
    background-color: transparent;
    position: relative;
    top: 0;
    width: fit-content;
    height: 100%;
    justify-content: stretch;
  }

  .nav-links a {
    color: #252525;
    font-size: 1.5rem;
    padding: 10px 15px;
    width: 100%;
  }

  .banner .hamburger {
    display: none;
  }

  .hero {
    padding: 10px 0;
  }

  .hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero .hero-text {
    text-align: start;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero .hero-images {
    padding-bottom: 0;
  }

  .hero-images img {
    border: 2px solid rgb(233, 233, 233);
  }

  .services {
    padding: 10px 0;
  }

  .services .services-header-text {
    width: 80%;
    margin-bottom: 20px;
    justify-self: center;
    margin: 0 auto;
  }

  .services .service-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .services .service-card:nth-child(3) figure {
    order: 2;
  }

  .services .service-card:nth-child(3) .service-card-text {
    order: 1;
  }

  .service-card figure img {
    object-fit: cover;
  }

  .services .service-card-text {
    text-align: start;
    display: grid;
    align-items: center;
  }

  .services .service-card-text .action-buttons {
    align-items: start;
  }

  .service-card-text .action-buttons a {
    text-align: center;
    font-size: small;
  }

  .services .service-card-text h3 {
    margin-bottom: 10px;
  }

  .services .service-card-text p {
    margin-bottom: 20px;
    font-size: small;
  }

  .specializations .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 70%;
  }

  .specializations .container h2 {
    grid-column: span 3;
    justify-self: center;
  }

  .specializations .specialization-card {
    grid-row-start: 2;
  }

  .promises .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* MOBILE ABOUT PAGE */
  .about-hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .about-hero .about-head {
    grid-column: span 2;
  }

  .about-hero .about-text {
    padding: 20px;
  }

  .about-hero figure img {
    object-fit: cover;
  }

  .faqs .container {
    width: 90%;
  }

  .contact-form form {
    width: 80%;
    margin: 0 auto;
  }

  footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: start;
  }

  footer figure {
    width: 100%;
    height: 50%;
    align-self: baseline;
  }

  footer .footer-card p, .footer-card a {
    font-size: .8rem;
  }

  footer .social-links a img{
    height: 80%;
    padding: 5px;
  }
}

/* LANDSCAPE TABLETS AND SMALL DESKTOPS */
@media only screen and (min-width: 1025px) {
  /* TODO */
  main {
    background-color: white;
  }

  .container {
    width: 80svw;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.8rem;
  }

  p, a {
    font-size: 1.2rem;
  }

  .banner .container {
    width: 80svw;
  }

  .banner h1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .banner .nav-links a {
    font-size: 1.5rem;
  }

  .banner .nav-links a:hover {
    background-color: #c2c2c2;
  }

  .hero .hero-text {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .hero .hero-text h1 {
    font-size: 2.25rem;
  }

  .hero .hero-text .action-button a {
    font-size: 1.5rem;
    padding: 15px 25px;
  }

  .hero .hero-text .action-button a:hover {
    background-color: #969696;
    color: #252525;
    transform: scale(1.1);
  }

  .hero .hero-images img {
    border: none;
  }

  .services .services-header-text {
    margin: 0 auto;
  }

  .services .service-card .service-card-text p {
    font-size: 1.4rem;
  }

  .services .service-card .service-card-text .action-buttons a {
    font-size: 1.5rem;
    white-space: nowrap;
    padding: 20px 0;
  }

  .services .service-card-text .action-buttons {
    flex-direction: row;
  }

  .services .service-card-text .action-buttons a:nth-child(1):hover {
    background-color: #3d3d3d;
    transform: scale(1.1);
  }

  .services .service-card-text .action-buttons a:nth-child(2):hover {
    background-color: #c2c2c2;
    color: #252525;
    transform: scale(1.1);
  }

  .specializations {
    width: 80svw;
    margin: 0 auto;
  }

  .specializations .container {
    padding: 100px 0;
  }

  .promises .text {
    padding: 70px 10px;
    background-color: white;
  }

  .promises .text ul li {
    font-size: 1.4rem;
  }

  .promises .text a {
    font-size: 1.5rem;
  }

  .promises .text a:hover {
    background-color: #dfdfdf;
    transform: scale(1.1);
  }

  .about-hero .container {
    width: 80svw;
  }

  .about-hero .about-text h3 {
    font-size: 2rem;
  }

  .motto {
    width: 80svw;
    margin: 0 auto;
  }

  .motto .container {
    padding: 50px 50px;
  }

  .faqs .container {
    width: 80svw;
    margin: 0 auto;
  }

  .contact-form form {
    width: 40%;
  }

  footer {
    padding-bottom: 0;
  }

  footer .footer-card p, footer .footer-card a {
    font-size: 1.5rem;
  }

  footer .footer-card .social-links {
    align-self: start;
  }

  footer .footer-card .social-links a:hover {
    transform: scale(1.1);
  }

  footer .footer-card a:hover {
    text-decoration: underline;
  }
}