@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
  color: var(--primary-color);
}

p, label, textarea, input, a {
  font-family: "Arial", sans-serif;
  text-transform: capitalize;
  color: var(--accent-color);
  font-size: 1.1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #aa3e00;
  --secondary-color: #df5201;
  --accent-color: #3d3d3d;
}

/* Home page styling */

header {
  background-color: white;
  width: 100svw;
  height: 10svh;
  border-bottom: 2px solid var(--primary-color);
  position: fixed;
  z-index: 10;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
  z-index: 100;
}

header .container .logo {
  margin-left: 4px;
}

header .container .logo h1 {
  color: var(--accent-color);
  font-size: 1.75rem;
}

header .container .nav-links {
  display: none;
  position: absolute;
  top: 10svh;
  width: 100svw;
  background-color: #dbdbdbe0;
  border-bottom-left-radius: 50px;
}

header .container .nav-links.active {
  display: block;
  animation: slide-in .8s ease-in-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

header .container .nav-links ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

header .container .nav-links ul a {
  padding: 20px;
  font-size: 1.3rem;
  max-width: 100svw;
  width: 100%;
  color: var(--primary-color);
  text-align: center;
}

header .container .nav-links ul a:active {
  background-color: #9696969c;
  color: var(--secondary-color);
}

header .container .hamburger {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 4px;
}

header .container .hamburger .bar {
  width: 80%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 1.5em;
}

main {
  padding: 0 5px;
  width: 100cvw;
  padding-top: calc(10svh + 15px);
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero .container .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero .container .hero-text .head-sub {
  text-align: center;
}

.hero .container .hero-text .head-sub h1 {
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 10px 0;
}

.hero .container .hero-text .head-sub p {
  padding: 5px 0;
  color: var(--accent-color);
}

.hero .container .hero-text .head-sub p em {
  color: var(--secondary-color);
}

.hero .container .hero-text .action-btn {
  padding: 15px 10px;
  background-color: white;
  border: 2px solid var(--primary-color);
  margin-top: 10px;
  border-radius: 5px;
}

.hero .container .hero-text .action-btn a {
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  color: var(--primary-color);
}

.hero .container .hero-text .action-btn:active {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  background-color: #7777779a;
}

.hero .container .hero-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  width: 100%;
  height: 35svh;
  margin: 10px 0;
}

.hero .container .hero-image {
  width: 100%;
  height: 100%;
  background-color: #7777779a;
  border-radius: 5px;
}

.hero .container .hero-image:nth-child(1) {
  grid-row: span 2;
}

.hero .container .hero-image img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.services .container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.services .container .service-card {
  display: grid;
  grid-template-rows: (20%, 80%);
  margin: 0 5px;
  padding: 20px 0;
  box-shadow: 1px 1px 4px;
  border-radius: 10px;
}

.services .container .service-card .title {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.services .container .service-card .title .icon {
  width: 35px;
  height: 35px;
}

.services .container .service-card .title .icon img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.services .container .service-card .title h2 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: lighter;
}

.services .container .service-card .text {
  text-align: center;
  display: grid;
  place-items: center;
  padding: 5px 10px;
  color: var(--accent-color);
}

.values {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 10px;
}

.values .values-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.values .values-card .values-text {
  display: grid;
  place-items: center;
  padding: 10px ;
  text-align: center;
}

.values .values-card .values-text h3 {
  position: relative;
  color: var(--primary-color);
  text-transform: capitalize;
}

.values .values-card .values-text h3::after {
  content: '';
  display: block;
  background-color: var(--secondary-color);
  width: 80%;
  height: 2px;
  margin: 0 auto;
  margin-top: 10px;
}

.values .values-card .values-text p {
  padding: 15px 10px;
  color: var(--accent-color);
}

.values .values-card .values-img {
  width: 100%;
  height: 35svh;
  border-radius: 10px;
}

.values .values-card .values-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* About page styles */
.about {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  z-index: -10;
}

.about .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.about .slider .slider-img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  border-radius: 5px;
}

.about .about-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  place-items: center;
  width: 70%;
  height: 70%;
  background-color: #e4e4e4a1;
  border-radius: 5px;
  border: 2px solid #e4e4e4a1;
}

.about .about-text h1 {
  color: var(--primary-color);
}

.about .about-text p {
  color: var(--accent-color);
}

.more-info {
  margin: 5px 0;
}

.more-info .container .stats {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 5px;
}

.more-info .container .stats .stat-card {
  padding: 10px 5px;
  text-align: center;
  box-shadow: 1px 1px 4px;
  border-radius: 5px;
}

.more-info .container .stats .stat-card span {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  color: var(--secondary-color);
}

.more-info .container .stats .stat-card p {
  color: var(--accent-color);
}

.more-info .container .stats .stat-card:last-child {
  grid-column: span 2;
  width: 80%;
  margin: auto;
}

.more-info .container .mission {
  padding: 5px 10px;
}

.more-info .container .mission h2 {
  color: var(--primary-color);
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.more-info .container .mission h2 em {
  color: var(--secondary-color);
}

.more-info .container .mission p {
  color: var(--accent-color);
  text-align: center;
  padding: 5px;
}

.contact-us {
  background-color: var(--primary-color);
  padding: 10px 5px;
  border-radius: 5px;
}

.contact-us .container {
  display: grid;
  place-items: center;
}

.contact-us .container h3 {
  text-align: center;
  color: #f5f5f5;
}

.contact-us .container .action-btn {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 15px;
  margin-top: 10px;
}

.contact-us .container .action-btn a {
  color: var(--secondary-color);
}

/* Contact Section Styling */

.contact .container .contact-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact .container .contact-text .links .link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-color);
}

.contact .container .contact-text .links .link .icon {
  width: 30px;
  height: 30px;
}

.contact .container .contact-text .links .link .icon img {
  width: 100%;
  height: 100%;
}

.contact .container .contact-form {
  padding: 20px 5px;
  background-color: #c5c4c49a;
  border-radius: 5px;
}

.contact .container .contact-form #mail-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact .container .contact-form #mail-form input,
.contact .container .contact-form #mail-form textarea {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1.15em;
  padding: 5px;
  color: var(--accent-color);
}

.contact .container .contact-form #mail-form label {
  color: var(--accent-color);
}

.contact .container .contact-form #mail-form #submit-button {
  width: 40%;
  margin: auto;
  padding: 10px;
  background-color: var(--primary-color);
  color: #f5f5f5;
  border: none;
  border-radius: 10px;
}

.contact .container .contact-form #mail-form input:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.contact .container .contact-form #mail-form textarea:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.map-section {
  width: 100%;
  height: 30svh;
  margin-top: 10px;
  border: 1px solid var(--accent-color);
}

.map-section .map {
  width: 100%;
  height: 100%;
}