@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

h4 {
  font-size: larger;
}

.contact-section {
  width: 80vw;
  height: 60svh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 5px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-info .c-title {
  color: #cd7f32;
  font-size: 2rem;
  font-family: "IBM Plex Mono", sans-serif;
}

.contact-info .small-text {
  color: #666666;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials .social {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.socials .social img {
  width: 30px;
  height: 30px;
}

.socials .social a {
  text-decoration: none;
  color: #cd7f32;
  font-family: "IBM Plex Mono", sans-serif;
}

.contact-form {
  background-color: #f1f1f1b6;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.contact-form #mail-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#mail-form input, #mail-form textarea {
  border: none;
  padding: 0.8em 0.2em;
  width: 100%;
  border-radius: 5px;
  background: #eee;
}

#mail-form label {
  color: #666666;
}

#mail-form textarea {
  resize: none;
  height: 8em;
  font-size: .8em;
  margin-bottom: 10px;
}

#mail-form input:focus, #mail-form textarea:focus {
  border: 2px solid #cd7f32;
  outline: none;
}

#mail-form input::placeholder, #mail-form textarea::placeholder {
  color: #8a8a8a;
}

#mail-form button {
  border: none;
  cursor: pointer;
  width: 90%;
  padding: 0.8em;
  border-radius: 5px;
  background: #fd9125;
  color: white;
  margin: 0 auto;
}

.map-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 90vh;
  margin: 0 auto;
  width: 80vw;
  margin-top: 10px;
}

.map-section .map {
  width: 100%;
  height: 100%;
  background-color: #666666;
  border: 1px solid #cd7f32;
  border-radius: 5px;
}

@media (max-width: 1080px) {
  .contact-section {
    width: 95svw;
    height: auto;
    margin-top: 8.5svh;
  }

  .map-section {
    width: 95svw;
    height: 50svh;
  }
}

@media (max-width: 815px) {
  .contact-section {
    margin-top: 8.5svh;
  }

  .map-section {
    height: 40svh;
  }
}

@media (max-width: 480px) {
  .contact-section {
    grid-template-columns: auto;
    width: 95vw;
    height: auto;
  }

  .map-section {
    width: 95vw;
    height: 40svh;
  }
}